<div class="container modal-body scroll-area">
  <h2>Connect Your Bank Account</h2>

  <button class="btn btn-primary" (click)="generateLinkToken()">
    Link New Account
  </button>

  <h2>Your Linked Accounts</h2>
  <div class="row">
    <div class="col-12" *ngFor="let acc of linkedAccounts">
      <div class="card mb-2 shadow-sm">
        <div class="card-body">

          <h4 class="card-title">{{ acc.accountName }}</h4>

          <p class="card-text">
            <strong>Type:</strong> {{ acc.accountType }} <br>
            <!-- <strong>Account ID:</strong> {{ acc.ac }} <br> -->
           <strong>Institution:</strong> {{ acc.institutionName }}
          </p>

          <span class="badge" 
                [ngClass]="acc.accountType === 'CREDIT' 
                           ? 'bg-danger'
                           : 'bg-primary'">
            {{ acc.accountType }}
          </span>

        </div>
      </div>
    </div>
  </div>

</div>
